*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    box-sizing: border-box;
    background-color: #FEFCFF;
}

.container {
    margin: 2rem auto;
    padding: 4rem 2rem;
    width: 50%;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.26);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group > label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 1.4rem;
    font-weight: bold;
}

.datepicker-input {
    width: 100%;
    height: 2.5rem;
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 2px;
    box-sizing: border-box;
}

#submit {
    border: none;
    border-radius: 3px;
    background-color: #38ACEC;
    padding: 1rem;
    font-size: 1.6rem;
    color: #FEFCFF;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.datepicker {
    display: none;
    position: absolute;
}

.datepicker-calendar {
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.26);
    border-radius: 3px;
}

.datepicker-calendar--header,
.datepicker-calendar--body {
    padding: 6px;
}

.datepicker-calendar--header {
    background-color: #82CAFA;
}

button.month-change {
    padding: 2px 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.datepicker-calendar--header select {
    background-color: transparent;
    padding: 2px 5px;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Roboto', sans-serif;
}

.datepicker-calendar--header__dates {
    display: flex;
    margin: 0 auto;
}

.datepicker-calendar--body {
    background-color: #FEFCFF;
}

.day-unit {
    display: inline-block;
    width: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
}

.day-unit a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.u-div-show {
    display: block!important;
}

